#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Carrusel */

.mi-carrusel {
  width: 300px;
}

.carousel-titulo {
  color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators [data-bs-target] {
  background-color: #000 !important;
}

.img-carrusel {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Estilo Hover */

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}